.image {
    border-radius: 50%;
}

.row {
    padding: 50px;
    background-color: blue;
}

.table {
    border-top: 3px solid var(--white);
    background-color: var(--gray-200);
    border-radius: 3px 3px 10px 10px;
    display: block;
    border-collapse: collapse;
    overflow-y: hidden;
    overflow-x: auto;
    width: 100%;
    border-spacing: 0;
    white-space: nowrap;
}


.table th,
.table td {
    padding: 8px;
    text-align: left;
    color: var(--white);
    border: none;

}

.table th {
    color: var(--white);
    padding: 5px 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    width: 1%;

    &.collapse {
        width: 0.0000000001%;
    }

    &:last-child {
        border-right: 0;
    }

    height: 40px;
    white-space: nowrap;

}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;

    .icon {
        color: var(--red-900);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            color: var(--white);

        }

        &:active {
            color: var(--red-900);
        }
    }
}