.input {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: var(--white);
    border: none;
    border-radius: 4px;
    color: var(--black);
    font-weight: 500;
    font-size: 1em;
}

.input::placeholder {
    color: var(--black);
}

.inputWrapper {
  position: relative;
}

.icon {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.icon + .input {
    padding-left: 3rem;
}
