.buttonCheckIn {
    height: 40px;
    border: 0;
    background-color: var(--green-800);
    font-weight: 500;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    color: var(--white);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 5px;
}