.containerSearchForm {
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
}

.containerSearchForm h1 {
    color: var(--white)
}

.containerHeader {
    display: flex;
    flex-direction: row;

    button {
        background: transparent;
        border: none;
        margin-left: 1rem;
    }
}

.listTrainingSheets {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.trainingSheetItem {
    display: flex;
    flex-direction: row;
    background-color: var(--green-800);
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 0.3rem;

    button {
        border: 0;
        background: transparent;
        font-size: 1.2rem;
        color: var(--white);
        height: 60px;
        align-items: center;
        display: flex;
    }
}

.tag {
    width: 9px;
    background-color: var(--white);
    height: 60px;
    border-radius: 0.3rem 0 0 0.3rem;
    margin-right: 1rem;
}

.containerModal {
    width: 620px;
    background-color: '#1c1b1f';
    color: var(--white);
}

.containerModal h2 {
    margin: 1rem 0;
}

.containerModalItem {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    strong {
        color: var(--green-900)
    }
}

.modalDescription {
    margin-top: 0.5rem;
    word-break: break-all;
}

.modalButtonOrder {
    margin-top: 1.5rem;
    background-color: var(--green-900);
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    color: var(--black);
    float: right;
}

.tableModal {
    font-size: 1.2rem;
    color: var(--white);
}

.trainingSheetContent {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 10px;
}

.editButton,
.deleteButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Espaçamento entre os botões */
}

.addButton {
    color: var(--white);
}

@media screen and (max-width: 700px) {
    .containerModal {
        width: 430px;
    }
}

@media screen and (max-width: 550px) {
    .containerModal {
        width: 330px;
    }
}

.container {
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.containerSearchForm {
    max-width: 1080px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .buttonSearchForm {
        width: 200px;
        height: 40px;
        border: 0;
        margin-bottom: 1rem;
        background-color: var(--red-900);
        font-weight: bold;
        font-size: 1.2rem;
        border-radius: 0.3rem;
        color: var(--dark-700);
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--white);
        }

        &:active {
            background-color: var(--red-900);
            color: var(--white); 
        }
    }
}

.container h1 {
    color: var(--white);
}


.form {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    textArea {
        width: 100%;
        min-height: 120px;
        resize: none;
        padding: 0.5rem;
    }

    select {
        width: 100%;
        height: 40px;
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        color: var(--white);
        background-color: var(--dark-900);
        border: 1px solid var(--gray-100);
        padding: 0 0.5rem;
    }

    .input {
        border-radius: 0.3rem;
        margin-bottom: 1rem;
        color: var(--black);
        background-color: var(--white);
        border: 1px solid var(--gray-100);
        padding: 0 0.5rem;
        height: 40px;
        width: 100%;
    }

    .buttonAdd {
        height: 40px;
        border: 0;
        background-color: var(--green-900);
        font-weight: bold;
        font-size: 1.2rem;
        border-radius: 0.3rem;
        color: var(--dark-700);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .exercisesInputs {
        color: var(--white);
        gap: 5px;
    }
    .inputRow {
        display: flex;
        justify-content: space-between;
    }
}
